# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Functions
functions/node_modules/
functions/lib/

# Environment
.env
.env.*
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Test
coverage/
